<form role="form" ng-submit="signup()" class="ng-pristine ng-valid ng-valid-email">
    <fieldset>
      <legend>Sign Up</legend>
        <div class="form-group has-success has-feedback">
          <label>Email</label>
          <input type="email" ng-model="email" class="form-control ng-pristine ng-untouched ng-valid needsclick ng-not-empty ng-valid-email" placeholder="Enter email">
        </div>

        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control needsclick" placeholder="Password">
        </div>

        <div class="form-group">
          <label>Enter Password Again</label>
          <input type="password" class="form-control needsclick" placeholder="Password">
        </div>

        <div class="form-group">
          <label>Remember Me</label>
          <ui-switch ng-model="rememberMe" class="ng-pristine ng-untouched ng-valid ng-isolate-scope switch active switch-transition-enabled ng-not-empty"><div class="switch-handle"></div></ui-switch>
        </div>
    </fieldset>
    <hr>

    <button class="btn btn-primary btn-block">
      Sign Up
    </button>

  </form>
